


.one{
    display: grid;
    grid-template-columns: repeat(3,45% 10% 45%);
    border: 2px solid #0B384F;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

.central{
    background: repeating-linear-gradient(-70deg, white 0, white 50%, #0B384F 50%, #0B384F 100%);
}

.cont-one{
    background: #0B384F;
    color: white;
    max-height: 300px;
    padding-top: 40px;
}

.mision{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.vision{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cont-two{
    color: #0B384F;
    max-height: 300px;
    padding-top: 40px;
}

/* aun falta stylo responsive */