
.tit{
    margin-left: 30px;
    width: 400px;
    text-align: center;
    color: #253A53;
}
#orgin{
    /* background: red; */
    width: 250px;
    height: auto;
    margin-left: 20px;
    border: 1px solid #0B384F;
    padding: 0;
    box-shadow: 3px 5px 10px #0B384F;
}
#orgin h6{
    color: #0B384F;
    margin-top: 10px;
  

    padding: 0;
}
.unico{
    margin-top: 30px;
}
.unico2{
    margin-top: 30px;
}

#orgin img{
    width: 150px;
    height: auto;
    overflow: hidden;
    padding-top: 10px;
}
.img-edit{
   padding-top:20px ;
}
