<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/beb51ce232.js" crossorigin="anonymous"></script>
</head>
<body >

      
        <div class="container-fluid">
          <div class="row me-3">
            <div class="col-12 d-flex flex-row-reverse ">
              <!-- <a href="#" class="me-4"><i class="fa-brands fa-linkedin-in" style="color: #0B384F;"></i></a>
              <a href="#" class="me-4"><i class="fa-brands fa-youtube"  style="color: #0B384F;"></i></a> -->
              <a href="https://www.facebook.com/mfp.reclutadoresdetalento" class="" style="color: #0B384F; font-size: 1.5rem;"><i class="fa-brands fa-facebook-f"  style="color: #0B384F;"></i></a>
            </div>
          </div>
        </div>

          <nav class="navbar bg-fluid navbar-expand-lg border border-top-4 mb-3"> 
          <!-- <nav class="navbar bg-fluid nav-principal  border border-top-4">  -->
            <div class="container nav-conten d-flex align-items-center ">
             
              <img class="img-fluid" style="height: 3rem;"  src="./img/icf.png" alt="">
             
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <!-- linea 34 style -->
                <ul class="nav nav-pro bg-primary " style="margin-left: auto;"> 
                <!-- <ul class="nav nav-pro"> -->
                  <li class="nav-item">
                    <a  style="font-size: 1.5rem;"  href="./index.php">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a  style="font-size: 1.5rem;"  href="./servicios.php">Servicios</a>
                  </li>
                  <li class="nav-item ">
                    <a  style="font-size: 1.5rem;" href="./contactenos.php">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- </div> -->
