<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/beb51ce232.js" crossorigin="anonymous"></script>
</head>
<body >

      
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex flex-row-reverse ">
              <a href="#" class="me-4"><i class="fa-brands fa-linkedin-in" style="color: #0B384F;"></i></a>
              <a href="#" class="me-4"><i class="fa-brands fa-youtube"  style="color: #0B384F;"></i></a>
              <a href="#" class="me-4"><i class="fa-brands fa-facebook-f"  style="color: #0B384F;"></i></a>
            </div>
          </div>
        </div>

          <nav class="navbar bg-fluid nav-principal border border-top-4"> 
            <div class="container-fluid nav-conten ">
              <img class="img-fluid" src="./img/icono.jpg" alt="">
              <ul class="nav nav-pro">
                <li class="nav-item ">
                  <a class=""  href="../index.php">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class=""  href="./servicios.php">Servicios</a>
                </li>
                <li class="nav-item ">
                  <a class=""  href="./contactenos.php">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
        <!-- </div> -->
