<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/beb51ce232.js" crossorigin="anonymous"></script>
</head>
<body >

      
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex flex-row-reverse ">
              <!-- <a href="#" class="me-4"><i class="fa-brands fa-linkedin-in" style="color: #0B384F;"></i></a>
              <a href="#" class="me-4"><i class="fa-brands fa-youtube"  style="color: #0B384F;"></i></a> -->
              <a href="https://www.facebook.com/mfp.reclutadoresdetalento" class="me-4 " style="color: #0B384F;"><i class="fa-brands fa-facebook-f"  style="color: #0B384F;"></i></a>
            </div>
          </div>
        </div>

          <nav class="navbar bg-fluid navbar-expand-lg border border-top-4"> 
          <!-- <nav class="navbar bg-fluid nav-principal  border border-top-4">  -->
            <div class="container-fluid navegador">
              <a class="navbar-brand" href="#">
              <img class="img-fluid" width="150px" src="./img/icono.jpg" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-pro">
                <!-- <ul class="nav nav-pro"> -->
                  <li class="nav-item ">
                    <a class="nav-link"  href="./index.php">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="./servicios.php">Servicios</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link"  href="./contactenos.php">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- </div> -->
