<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/mv.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
<div class="container-fluid titulos">
   <div class="row  central mb-3" style="height: auto; border: 2px solid #0B384F;">
       <div class="col-xs-6 col-sm-6 col-md-6 text-center  text-white  text-wrap">
            <h2 class="col-12 mt-5 h1 " style="font-size: 50px;">MISIÓN</h2><br>
            <h4 class="me-5 ms-5 textos" style="margin-bottom: 70px;">Brindamos soluciones integrales de gestión de talento humano, consiguiendo el mejor personal al seleccionar el mejor talento para tu empresa</h4>
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6  text-center text-wrap" style="color: #0B384F;">
            <h2 class="mt-5 h1" style="font-size: 50px;">VISIÓN</h2><br>
            <h4 class=" me-5 ms-5 textos" style="margin-bottom: 70px;" >Con nuestros precios accesibles, buscamos apoyar a emprendedores y empresarios a lograr sus objetivos</h4>
       </div>
   </div>
</div>

