<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mv.css">
</head>
<body>
    
<div class="one">
    <div class="cont-one">
        <h2>MISIÓN</h2>
        <p>Brindamos soluciones integrales de gestión de talento humano, consiguiendo el mejor personal al seleccionar el mejor talento para tu empresa</p>
    </div>

    <div class="central">

    </div>

    <div class="cont-two">
        <h2>VISIÓN</h2>
        <p><b>Con nuestros precios accesibles, buscamos apoyar a emprendedores y empresarios a lograr sus objetivos</b></p>
    </div>
</div>