<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/beb51ce232.js" crossorigin="anonymous"></script>
</head>
<body>
    <br>
    <div class="tit">
        <h1 class="tit" id="nosotros">¿POR QUÉ TRABAJAR</h1>
        <h1 class="tit" style="color:rgb(59, 59, 59)"> CON NOSOTROS?</h1>
    </div>
    <br>
        <div class="container">
            <div class="row justify-content-center mt-3 p-md-2" >
                
                <div class="col-xs-12 col-lg-3 text-center mb-2" id="orgin">
                    <!-- <a href=""><i class="fa-solid fa-user-tie" id="icono"></i></a> -->
                    <img src="./img/icono1.jpg" class="img-fluid text-center" alt="">
                    
                    <div>
                        <h4 class="textos mt-3" style="color: rgb(58, 58, 58);">Encuentra al profesional que necesitas.</h4>
                    </div>
                </div>
               
                <div class="col-xs-12 col-md-3 text-center mb-2 " id="orgin">
                    <!-- <a href=""><i class="fa-solid fa-handshake-simple" id="icono"></i></a> -->
                    <div class="img-edit">
                        <img src="./img/icono2.jpg" class="img-fluid"  alt="">
                    </div>
                    <div class="unico">
                        <h4 class="textos" style="color: rgb(58, 58, 58);">Optimiza tiempo y recursos.</h4>
                    </div>
                </div>
               
                <div class="col-xs-12 col-lg-3 text-center mb-2" id="orgin">
                    <!-- <a href=""><i class="fa-regular fa-clock" id="icono"></i></a> -->
                    <img src="./img/icono3.jpg" class="img-fluid"  alt="">
                    
                    <div class="unico2">
                        <h4 class="textos" style="color: rgb(58, 58, 58);">Acelera tu negocio.</h4>
                    </div>
                </div>
                
            </div>
        </div>
  

   