<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="nosotros">

    <div>
        <h1 class="tit"> ¿POR QUÉ TRABAJAR CON NOSOTROS?</h1>
    </div>
    <br>

    <div >
        <div class="container-fluid">
            <div class="row" id="centrarr">
                <div class="eliminar"></div>
                <div class="cv">
                    <img src="./img/el.png" class="img-fluid " alt="Cinque Terre">
                    <p>Encuentra al profesional que necesitas</p>
                </div>
                <div class="eliminar"></div>
                <div class="cv">
                    <img src="./img/el2.png"  class="img-fluid" alt="Cinque Terre" >
                    <p>Optimisa tiempo y recursos</p>
                </div>
                <div class="eliminar"></div>
                <div class="cv">
                    <img src="./img/el3.png" class="img-fluid" alt="Cinque Terre">
                    <p>Acelera tu negocio</p>
                </div>
                <div class="eliminar"></div>
            </div>
        </div>
    </div>