<div class="container">
    <div class="d-flex">
        <div class="row">
            <h1>LOS SERVICIOS QUE</h1>
        </div>
        <div class="row">
            <h1>TE OFRECEMOS:</h1>
        </div>
    </div>
    <div class="d-flex">
        <div class="card">
            <img src="./img/images.jpg" alt="#">
            <div class="card">
                <h1>Reclutamiento</h1>
                <p>Reduzca su tiempo de selección de personal, con este
                    servicio Ud. recibirá 03 curriculum de candidatos(as)
                    que han calificado favorablemente en las evaluaciones
                    psicolaborales y competencias genéricas relacionadas
                    con el perfil solicitado.</p>
                <a href="../contactenos.php"> ← Contáctenos</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <img src="./img/woman-selecting-pictures-of-people.jpg" alt="#">
            <div class="card">
                <h1>Evaluación de competencias</h1>
                <p>Identificamos y evaluamos el potencial de tus colaboradores a
                    través de entrevistas por competencias y pruebas psicométricas</p>
                <a href="../contactenos.php"> ← Contáctenos</a>
            </div>
        </div>
    </div>
</div>